<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Oficina Empleo Pirámide</h1>
<a href="/">Empleos</a>
<a href="/nuevo">Nuevo</a>
<form action="/buscar" method="post">
    <label>
        <input name="titulo" type="text" placeholder="titulo"/>
    </label>
    <button>Enviar</button>
</form>
<p>-------------------------------------</p>
<ul th:each="oferta : ${ofertas}">
    <li>
        <p th:text="'Título: ' + ${oferta.titulo}"></p>
        <p th:text="'Descripción: ' + ${oferta.descripcion}"></p>
        <p>-------------------------------------</p>
    </li>
</ul>


</body>
</html>