<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Oficina Empleo Pirámide</h1>
<a href="/">Empleos</a>
<a href="/nuevo">Nuevo</a>
<form action="/buscar" method="post">
    <label>
        <input name="titulo" type="text" placeholder="titulo"/>
    </label>
    <button>Enviar</button>
</form>
<form action="/nuevo" method="post">
    <label>
        <input name="titulo" type="text" placeholder="Título"/>
        <input name="descripcion" type="text" placeholder="Descripción"/>
    </label>
    <button>Enviar</button>
</form>

</form>
</body>
</html>